@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.container h1{
font-family: 'Poppins', sans-serif;
 align-items: center;
 display: flex;
 font-size: larger;
 color: brown;

}
.bg-home img{
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    width: 100%;
    
}
.bg-home .overlay{
    position: absolute;
    color: rgba(237, 101, 47, 0.646);
    left: 40%;
    top: 50%;
    font-family: 'Poppins', sans-serif;
    
    transform: translate(-50,-50);
}

.bg-home h1{
    font-size: 26px;
    color: #804810d5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.bg-home hr{
    width: 300px;
    height: 4px;
    border-radius: 10px;
   background-color: brown;

}



